
<h2 mat-dialog-title>{{ data.formContext }} Post</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" placeholder="Title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Author</mat-label>
      <input matInput formControlName="author" placeholder="Author" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hero Image URL</mat-label>
      <input matInput formControlName="hero_img" placeholder="Hero Image URL" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Body</mat-label>
      <textarea matInput formControlName="body" placeholder="Body" minLength="120"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
  <button mat-raised-button
          color="primary"
          (click)="onSubmit()"
          type="submit"
  >
    {{ data.formContext }}
  </button>
</mat-dialog-actions>